<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/pico.min.css" rel="stylesheet">
    <title>Create Ticket</title>
</head>
<header>
    <nav>
        <a href="/tickets">View Tickets</a>
        <a href="/">Create Ticket</a>
    </nav>

</header>
<body>
<form action="/" method="POST">

    <label for="ticketTitle">Title:</label>
    <input type="text" id="ticketTitle" name="ticketTitle" ><br><br>

    <label for="ticketDescription">Description:</label><br>
    <textarea id="ticketDescription" name="ticketDescription" rows="4" cols="50" required></textarea><br><br>

    <label for="ticketCreatedDate">Date:</label>
    <input type="text" id="ticketCreatedDate" name="ticketCreatedDate" ><br><br>

    <label for="ticketStatus">Status:</label>
    <input type="text" id="ticketStatus" name="ticketStatus" ><br><br>

    <label for="ticketCreatedBy">Created By:</label>
    <input type="text" id="ticketCreatedBy" name="ticketCreatedBy" ><br><br>

    <input type="submit" value="Submit">
</form>


</body>
</html>