<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ticket List</title>
</head>
<body>
    <h2>Ticket List</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <!-- Add other necessary columns -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="ticket : ${tickets}">
                <td th:text="${ticket.ticketTitle}"></td>
                <td th:text="${ticket.ticketDescription}"></td>
                <td th:text="${ticket.CreatedDate}"></td>
                <td th:text="${ticket.ticketStatus}"></td>
                <td th:text="${ticket.ticketCreatedBy}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>